appdirs==1.4.4
certifi==2025.4.26
charset-normalizer==3.4.2
distlib==0.3.9
filelock==3.18.0
Flask==3.0.0
idna==3.10
joblib==1.5.1
lxml==6.0.0
numpy==2.3.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.7
pyshark==0.6
PyYAML==6.0.2
pytest==8.0.0
requests==2.32.3
scikit-learn==1.4.2
scipy==1.16.0
termcolor==3.1.0
threadpoolctl==3.6.0
urllib3==2.4.0
virtualenv==20.31.1
yamllint==1.37.0

